/*Global settings for boxes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*Header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 32px;
}

/*Changes the letters 'seo' in Horiseon to a different color in header*/
#seo {
    color: #949494;
}

/*Navigation bar styling */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Display for navigation links */
header li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/*Body Styling*/
body {
    background-color: #d9dcd6;
}
/*Main marketing image styling*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); alt:"background";
    background-size: cover;
    background-position: center;
}

a {
    color: #ffffff;
}

p {
    font-size: 16px;
}



/* Section */

/*Blue section boxes and general formatting*/
.sectionBox {
    width: 75%;
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    max-height: 400px;
    font-size: 20px;
}
/*Section images sizes and positioning*/
.sectionImageLeft {
    float: left;
    margin-right: 25px;
    max-height: 200px
}

.sectionImageRight {
    float: right;
    margin-left: 25px;
    max-height: 200px
}

section h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

/* aside */
aside {
    display: inline;
    width: 20%;
    height: 100%;
    clear: both;
    float: right;
    margin-right: 20px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}


aside p, h3 {
    margin-bottom: 10px;
    text-align: center;
}


aside p, h3 {
    margin-bottom: 10px;
    text-align: center;
}
.asideImage {
    margin: 10px;
    max-width: 150px;
}

/* footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

footer h2{
    font-size: 20px; 
}

